################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
[Xx]64/
[Xx]86/
[Bb]uild/
bld/
[Bb]in/
[Oo]bj/

*.suo
*.lock.json
/.vs/
*.user
/.vs/config/applicationhost.config
/packages
/Structurizr.InfrastructureAsCode.Azure.Sample/structurizr-18991-*.json
/infrastructurizr/Properties/launchSettings.json
/infrastructurizr/Properties/PublishProfiles/FolderProfile.pubxml
